<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="kr.ac.ajou.media.contacts"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ContactsActivity"
            android:label="MP 연락처">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewContactActivity"
            android:label="연락처 추가"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContactsActivity"/>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="연락처 보기"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContactsActivity"/>
        </activity>
        <activity
            android:name=".EditContactActivity"
            android:label="연락처 수정/삭제"
            android:parentActivityName=".ContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContactActivity"/>
        </activity>
    </application>

</manifest>
